:root{
  --body-color:  #ffffff;
  --primary-color: #e93f1a;
  --text-color: #0c0c0c;  
  --header-color: #050000;
  --white-color: var(--body-color);
  --grey-color: #3a3b3c;
  --cream-color:#e8e8e8;
  --contact_bg-color:#1c1b2d;
  --black-color: #000;
  --footer-color: #1d1d1d;
}
body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
}

/* Syling new html tags*/
.old_pricing{
  text-decoration: underline;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  color: var(--header-color);
  padding: 3px 10px;
  border-bottom: 1px solid #000000;
  text-align: center;
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover,
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link:focus {
  padding: 10px 30px;
  color : var(--grey-color);
  text-align: center;
  text-transform: uppercase;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 50px;
  margin-right: 5px;
  margin-top: -1rem;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: var(--body-color);
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
}

.slider_section .detail-box h1 span {
  color: var(--primary-color);
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--primary-color);
  color: var(--body-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--body-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: initial;
  width: 25px;
  height: 200%;
  margin: 0;
  bottom: 50%;
  right: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider_section .carousel-indicators::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 55%;
  background-color: var(--body-color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}

.slider_section .carousel-indicators li {
  text-indent: unset;
  margin: 0;
  border: none;
  opacity: 1;
  background-color: transparent;
  width: auto;
  height: auto;
}

.slider_section .carousel-indicators li.active {
  color: var(--primary-color);
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 105px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: var(--cream-color);
  border-radius: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-color: var(--primary-color);
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .custom_carousel-control .carousel-control-prev:hover {
  background-image: url(../images/prev-white.png);
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-image: url(../images/next-white.png);
}

/* end slider section */
.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box a,
.about_section .detail-box2 a {
  display: inline-block;
  padding: 8px 35px;
  background-color: var(--primary-color);
  color: var(--body-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 25px;
  
}
.video-box{
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.video-box iframe{
  position: absolute;
  top: 2em;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
.about_section .detail-box a:hover{
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.about_section .detail-box2 a:hover{
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
/* .about_section .detail-box{
  max-width: 35rem;
} */
.about_section .detail-box2{
  max-width: 35rem;
}
.about_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
margin-bottom: 25px;
}



.body_bg {
  background-image: url(../images/body_bg.jpg);
  background-size: cover;
}

.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  width: 85%;
}

.service_section .box h4 {
  margin-top: 5px;
}

.service_section .box a {
  padding: 6px 25px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
}

.quote_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_section .box .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: var(--primary-color);
  color: var(--body-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.quote_section .box .btn-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.service_section .btn-box a{
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: var(--body-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.service_section .btn-box{
  margin-left: 43rem;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.contact_section .contact_bg {
  background-color: var(--body-color);
}

.contact_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.contact_section .contact_form {
  padding-left: 25px;
  padding-right: 25px;
}

.contact_section .contact_form .top_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_section .contact_form .top_input input {
  width: 48%;
}

.contact_section .contact_form input {
  width: 100%;
  margin: 15px 0;
  height: 50px;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: var(--contact_bg-color);
  color: var(--body-color);
}

.contact_section .contact_form input.message_input {
  padding: 25px 0 90px 15px;
}

.contact_section .contact_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form button {
  display: inline-block;
  padding: 8px 35px;
  background-color: var(--primary-color);
  color: var(--body-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 45px;
}

.contact_section .contact_form button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.contact_section .img-box img {
  width: 100%;
}

/* client_section */
.client_section {
  font-family: "Roboto", sans-serif;
}

.client_section .img-box {
  min-width: 175px;
  max-width: 175px;
}

.client_section .img-box img {
  width: 100%;
  border-radius: 50px;
}

.client_section .client_container {
  width: 70%;
  margin: auto;
}

.client_section .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding-left: 20px;
}

.client_section .client_name h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.client_section .client_name p {
  color: var(--primary-color);
}

.client_section .client_detail {
  padding: 25px 45px;
  background-color: var(--primary-color);
}

.client_section .client_text p,
.client_section .client_text blockquote {
  margin: 0;
  position: relative;
  color: var(--cream-color);
}

.client_section .client_text blockquote::before,
.client_section .client_text blockquote::after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
}

.client_section .client_text blockquote::before {
  content: "\f10d";
  top: -6px;
  left: -30px;
}

.client_section .client_text blockquote::after {
  content: "\f10e";
  bottom: -10px;
  right: 5px;
}

.client_section .carousel-indicators {
  bottom: -75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-indicators li {
  width: 15px;
  height: 15px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  background-color: var(--primary-color);
  opacity: 1;
  border-radius: 100%;
}

.client_section .carousel-indicators li.active {
  background-color: var(--black-color);
}

/* end client_section */
.info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .footer_contact {
  width: 350px;
}

.info_section .footer_contact .heading_container h2 {
  width: 100%;
  text-align: center;
}

.info_section .footer_contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 20px 0 20px;
}

.info_section .footer_contact .box .img-box .img-2 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-1 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-2 {
  display: inline;
}

/* footer section*/
.footer_section {
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: var(--footer-color);
}

.footer_section p {
  color: var(--body-color);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: var(--body-color);
}

/* end footer section*/


