# Cache Images for one week
<FilesMatch "\.(jpg|jpeg|png|gif|ico|jfif)$">
Header set Cache-Control "max-age=60480000, public"
</FilesMatch>

# Cache CSS and JavaScript files for one week
<FilesMatch "\.(css|js)$">
Header set Cache-Control "max-age=60480000, public"
</FilesMatch>


FileETag MTime Size


# Set expiration date for images to one year in the future
<FilesMatch "\.(jpg|jpeg|png|gif|ico|jfif)$">
Header set Expires "max-age=315360000, public"
</FilesMatch>
